@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: local('Roboto Thin'), local('Roboto-Thin'), url(http://fonts.gstatic.com/s/roboto/v15/ty9dfvLAziwdqQ2dHoyjphTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

/*@media screen and  (max-width: 1280px) {*/
.mainContainer {
    /*height: 1870px;*/
    width: 100%;
    display: block;
    /*max-width: 1280px;*/
    margin: 0 auto;
}

.mainWindow {
    /*min-height: 660px;*/
    height: 660px;
    width: 100%;
    background-image: url("../img/webpage-bg-5.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    display: block;
    overflow: hidden;
}

.DataEaseHeader {
    height: 60px;
    width: 98%;
    position: relative;
    display: block;
    border-bottom: 2px solid #4A4044;
    margin: auto;
    z-index: 1;
}

.HeaderContainer {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.mainWindowBlock {
    width: 100%;
    position: relative;
    display: block;
    height: calc(100% - 60px);
    clear: both;
    overflow: hidden;
}

.centeredDiv {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    max-width: 670px;
}

.tableParent {
    display: table;
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    /*max-width: 615px;*/
}

.tableChild {
    display: table-cell;
    position: relative;
    width: 100%;
    vertical-align: middle;

}

.DataEaseContent {
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
}

.DataEaseContent p {
    color: #ffffff;
    font-size: 65px;
    text-align: center;
    font-weight : 200;
    transition-property: color;
    transition-duration: 1s;
    /*max-width: 750px;*/
    margin: 0 auto;
}

.DataEaseLogo {
    height: 60px;
    width: 25%;
    float: left;
    position: relative;
    display: block;
    min-width: 200px;
    max-width: 233px;
}

.DataEaseImage {
    height: 100%;
    /*width: 70%;*/
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-left: 20px;
    max-width: 225px;
}

.DataEaseMenuItems {
    height: 100%;
    width: 41%;
    float: right;
    display: block;
    min-width: 440px;
    position: relative;
}

.DataEaseMenuItems li {
    display: inline-block;
}

.DataEaseMenuItems ul {
    height: 100%;
    width: 100%;
    margin: 0;
}

.navbar {
    z-index: 1;
}

#navbar {
    width: auto;
    float: right;
    /*z-index: 1;*/
    /*height: 1px;*/
    min-width: 420px;
}

.navbar-nav>li {
    float: left;
    text-align: center;
    min-width: 113px;
}

.navbar-nav>li>div>a{
    font-size: 18px;
    color: #ffffff;
    font-weight: 300;
    margin: 0 10px 10px;
    padding-top: 10px;
    cursor: pointer;
    letter-spacing: 1px;
    text-decoration: none;
    transition-property: color;
    transition-duration: 0.6s;
}

.navbar-nav>li>div>a:focus, .navbar-nav>li>div>a:hover {
    color: #d41f26;
    text-decoration: none;
}

.Consultation {
    min-width: 108px;
}

/*.Features {*/
    /*float: left;*/
    /*width: 113px;*/
/*}*/

/*.KnowMore {*/
    /*width: 170px;*/
/*}*/

.MenuItems {
    height: 44%;
    position: relative;
    min-width: 90px;
    display: inline-block;
    padding: 17px 0;
}

.DataEaseMenuItems a {
    font-size: 16px;
    color: #ffffff;
    font-weight : 300;
    margin: 0 10px 10px;
    padding-top: 10px;
    cursor: pointer;
    text-decoration: none;
    transition-property: color;
    transition-duration: 0.6s;
}

.container {
    /*min-height: 600px;*/
    /*height: 600px;*/
    width: 100%;
    position: relative;
    display: block;
}

.container2 {
    height: 250px;
    /*border-bottom: 15px solid #F3F3F4;*/
}

.container2 p {
    font-size: 32px;
    text-align: center;
    font-weight: 200;
    /*color: #666666;*/
}

.container4 {
    height: 500px;
}

.howBlock {
    height: 125px;
    display: block;
    width: 80%;
    position: relative;
    vertical-align: middle;
    border-bottom: 1px solid #D4D4D5;
    margin: 0 auto;
}

.howBlock p {
    margin-top: 0;
    font-size: 19px;
    /*color: #666666;*/
    font-weight: 300;
}

.HowHeader {
    /*height: 23%;*/
    width: 100%;
    position: relative;
    display: block;
    text-align: center;
}

.HowHeader h1 {
    font-size: 44px;
    font-weight : 300;
    /*margin-bottom: 0;*/
    height: auto;
    margin-top: 50px;
}

.MaintenanceHeaderBlock, .CapabilitiesHeaderBlock {
    margin-top: 40px;
}

.Colored {
    color: #D60000;
}

.InnerContainer3 {
    height: auto;
    margin-top: 50px;
}

.ContentOfContainer3 {
    height: 100%;
}

.Block {
    height: 580px;
    max-width: 1280px;
    margin: 0 auto;
}

.BringUpBlock, .CapabilitiesBlock {
    /*border-bottom: 1px solid #D4D4D5;*/
}

.BulletsBlock {
    width: 20px;
    height: 100%;
    /*float: right;*/
    /*display: table;*/
    position: fixed;
    display: none;
    right: 20px;
}

.BulletsBlock ul {
    margin-top: 0;
    margin-bottom: 10px;
    display: table-cell;
    vertical-align: middle;
    color: #CCCCCC;
}

.BulletsBlock li {
    font-size: 27px;
    line-height: 17px;
}

.HeaderBlock h1 {
    font-weight: 300;
    /*margin-bottom: 2px;*/
    /*color: #666666;*/
    clear: both;
    font-size: 28px;
}

.Block p {
    font-weight: 300;
    margin-top: 0;
    /*color: #666666;*/
    /*text-align: center;*/
}

.centeredBlock {
    height: 100%;
    width: 94%;
    float: left;
}

.HeaderBlock {
    text-align: center;
    display: block;
    position: relative;
    height: 100px;
    width: 94%;
    margin-left: 6%;
}

.DataContainer {
    height: calc(100% - 150px);
}

.ImageContainer {
    height: 100%;
    width: 58%;
    position: relative;
    float: left;
    margin: 0 auto;
    max-width: 673px;
    margin-left: 20px;
}

.DataBlock {
    position: relative;
    display: block;
    width: 39%;
    float: right;
    height: 100%;
    max-width: 424px;
}

.DataBlock div {
    height: auto;
    max-height: 100px;
    min-width: 300px;
    max-width: 400px;
    min-height: 60px;
    margin-bottom: 20px;
}

.marginBottom {
    margin-bottom: 5px;
}

.ImageBlock {
    height: 100%;
    width: 100%;
    background-size: 90% 90%;
    background-repeat: no-repeat;
}

.BringUpImage {
    background-image: url("../img/diagram%201.png");
}

.CapabilitiesImage {
    background-image: url("../img/diagram%203.png");
}

.MaintenanceImage {
    background-image: url("../img/diagram%202.png");
}

.separator {
    width: 100%;
    position: relative;
    border-top: 22px solid #F3F3F5;
}

.ComponentsBlocks {
    height: 550px;
    max-width: 1280px;
    margin: 0 auto;
}

.ComponentsBlocksCentered {
    height: 100%;
    width: 95%;
    margin: 0 auto;
}

.ComponentsContentsHeading {
    text-align: center;
    font-weight: 300;
}

.servicesHeadingBlock, .BenefitsHeadingBlock  {
    height: 20%;
}

.ConsultationHeadingBlock {
    height: 25%;
}

.ServicesContentBlock, .BenefitsContentBlock {
    height: 74%;
}

.ConsultationContentBlock {
    height: 68%;
}

.ComponentsContents {
    height: 100%;
    width: 100%;
    text-align: center;
}

.ComponentsContentsHeading h1 {
    font-size: 40px;
    /*margin-bottom: 0;*/
    font-weight: 300;
    margin-top: 45px;
}

.ComponentsContentsHeading p {
    margin: 0;
}

.ServicesBlock, .BenefitsBlock {
    width: 25%;
    height: 100%;
    display: block;
    float: left;
}

.ServicesJustified, .BenefitsJustified, .ConsultationJustified {
    height: 100%;
}

.ServicesBlockImage, .BenefitsBlockImage, .ConsultationBlockImage {
    height: 27%;
    width: 100%;
    position: relative;
    background-position: center center;
    background-size: 65px;
    background-repeat: no-repeat;
}

.Services1BlockImage {
    background-image: url("../img/1.png");
}

.Services2BlockImage {
    background-image: url("../img/2.png");
}

.Services3BlockImage {
    background-image: url("../img/3.png");
}

.Services4BlockImage {
    background-image: url("../img/4.png");
}

.ServicesTextContent, .BenefitsTextContent, .ConsultationTextContent {
    height: 60%;
    width: 100%;
    position: relative;
    text-align: center;
    margin: 0 auto;
}

.TextContentHeading {
    height: 38%;
    margin: 0 auto;
    font-size: 23px;
    font-weight: 300;
}

.CollectionTextContentHeading {
    width: 35%;
    max-width: 85px;
}

.AnalysisTextContentHeading {
    width: 63%;
    max-width: 135px;
}

.ReportingTextContentHeading {
    width: 35%;
    max-width: 100px;
}

.ProcessingTextContentHeading {
    width: 68%;
    max-width: 135px;
}

.CollectionTextContent {
    width: 90%;
    margin: 0 auto;
    font-weight: 300;
    max-width: 180px;
}

.AnalysisTextContent, .ReportingTextContent {
    width: 76%;
    margin: 0 auto;
    font-weight: 300;
    max-width: 186px;
}

.ProcessingTextContent {
    width: 83%;
    margin: 0 auto;
    font-weight: 300;
    max-width: 200px;
}

.Benefits1BlockImage {
    background-image: url("../img/5.png");
}

.Benefits2BlockImage {
    background-image: url("../img/6.png");
}

.Benefits3BlockImage {
    background-image: url("../img/7.png");
}

.Benefits4BlockImage {
    background-image: url("../img/8.png");
}

.OptimisedTextContentHeading {
    width: 85%;
    max-width: 215px;
}

.ReduceTextContentHeading {
    width: 71%;
    max-width: 156px;
}

.SaveTimeTextContentHeading {
    width: 38%;
    max-width: 166px;
}

.AnalyticsTextContentHeading {
    width: 77%;
    max-width: 180px;
}

.OptimisedTextContent, .ReduceTextContent, .SaveTimeTextContent, .AnalyticsTextContent {
    font-weight: 300;
    margin: 0 auto;
}

.OptimisedTextContent {
    width: 100%;
    max-width: 225px;
}

.SaveTimeTextContent, .AnalyticsTextContent {
    width: 94%;
    max-width: 217px;
}

.ReduceTextContent {
    width: 88%;
    max-width: 190px;
}

.ConsultationBlock{
    width: 33%;
    height: 100%;
    display: block;
    float: left;
}

.Consultation1BlockImage {
    background-image: url("../img/9.png");
}

.Consultation2BlockImage {
    background-image: url("../img/10.png");
}

.Consultation3BlockImage {
    background-image: url("../img/11.png");
}

.ClarityTextContentHeading {
    width: 67%;
    max-width: 228px;
}

.ArchitectureTextContentHeading {
    max-width: 320px;
}

.ClarityTextContent {
    width: 96%;
    margin: 0 auto;
    font-weight: 300;
    max-width: 270px;
}

.ArchitectureTextContent {
    width: 98%;
    margin: 0 auto;
    font-weight: 300;
    max-width: 345px;
}

.CapacityTextContentHeading {
    width: 70%;
    max-width: 225px;
}

.CapacityTextContent {
    width: 97%;
    margin: 0 auto;
    font-weight: 300;
    max-width: 300px;
}

.KnowMoreWrapper {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: block;
    position: relative;
}

.KnowMoreContainer {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

.KnowMoreHeading {
    font-size: 40px;
    font-weight: 300;
    height: 5%;
    text-align: center;
    margin-top: 35px;
    min-height: 50px;
    margin-bottom: 5px;
}

.KnowMoreContent {
    height: 28%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    max-width: 370px;
    min-width: 285px;
}

.KnowMoreContent p {
    /*font-size: 16px;*/
    font-weight : 300;
    /*color: #6d6e70;*/
    margin-bottom: 0;
}

.KnowMoreForm {
    height: 37%;
    width: 100%;
}

.FormBlock {
    width: 90%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    display: block;
    max-width: 770px;
    min-width: 285px;
}

.FormContainer {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
}

.InfoBlock {
    width: 85%;
    height: 24%;
    margin: 0 auto;
    position: relative;
    display: block;
    margin-bottom: 5px;
}

.InfoTitle {
    width: 28%;
    height: 100%;
    position: relative;
    display: inline-block;
}

.InfoTitle p {
    font-weight : 300;
    /*color: #6d6e70;*/
    font-size: 18px;
}

.InputBlock {
    display: block;
    width: 90%;
    height: 90%;
    position: relative;
    /* border-style: none; */
    outline: none;
    font-weight: 300;
    /*color: #6d6e70;*/
    font-size: 17px;
    border: none;
    border-bottom: 1px solid #D5D5D5;
    /* z-index: 1; */
    box-shadow: none;
    -webkit-appearance: none;
    border-radius: 0;
    margin: 0 auto;
}

.KnowMoreSubmit {
    text-align: center;
    width: 100%;
     /*height: 15%;*/
    margin-bottom: 40px;
}

.submit:hover {
    background-color: #d41f26;
    color: #ffffff;
}

.Features a:hover, .KnowMore a:hover {
    color: #d41f26;
}

.submit {
    /*min-width: 325px;*/
    /*max-width: 360px;*/
}

.submit {
    width: 30%;
    -webkit-appearance: none;
    margin: 0;
    overflow: visible;
    color: #d41f26;
    text-transform: none;
    display: inline-block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 12px;
    background: #FFFFFF;
    vertical-align: middle;
    line-height: 28px;
    font-size: 21px;
    text-align: center;
    border: 1px solid #d41f26;
    cursor: pointer;
    height: 44px;
    position: relative;
    font-weight: 300;
    outline-style: none;
    transition-property: background, color, height, width;
    transition-duration: 0.7s;
    max-width: 310px;
}

.FooterBlock {
    height: 50px;
    width: 100%;
    position: relative;
    background-color: #F3F3F5;
}

.FooterContainer {
    height: 100%;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.FooterDataEazeIcon {
    background-image: url("../img/dataeaze%20logo.png");
    width: 18%;
    height: 100%;
    max-width: 190px;
    float: left;
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center center;
}

.FooterCopyright {
    width: 71%;
    position: relative;
    float: left;
    margin-top: 20px;
    font-size: 12px;
    text-align: center;
}

.FooterIauroBlock {
    height: 100%;
    width: 8%;
    float: right;
    max-width: 76px;
    margin-right: 2%;
}

.FooterIauroIcon {
    background-image: url("../img/iauro%20logo.png");
    width: 61%;
    margin: 0 auto;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.container-fluid {
    padding: 0;
}

/****************** Media Query *********************/

@media screen and  (min-width: 300px) and (max-width: 767px) {


    .separator1 {
        display: none;
    }

    .BulletsBlock {
        display: none;
    }

    .container3 {
        height: auto;
    }

    .navbar-nav>li>div>a {
        padding: 0px 10px;
        width: 100%;
        margin: 0;
    }

    .MenuItems {
        width: 100%;
        padding: 15px 0;
    }

    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border-color: transparent;
    }

    /*.HeaderContainer {*/
        /*background-color: dimgrey;*/
    /*}*/

    #navbar {
        width: 100%;
        height: auto;
        float: left;
        min-width: 165px;
        background-color: rgb(8, 7, 8);
        opacity: 0.8;
    }

    .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
        margin: 0;
    }

    .navbar-nav>li {
        float: none;
        text-align: left;
        z-index: 1;
    }

    .navbar-nav>li:hover, .navbar-nav>li::selection {
        background-color: #808080;
    }

    .navbar-nav>li>div>a:hover, .navbar-nav>li>div>a::selection {
        color: #ffffff;
    }

    .mainWindowBlock { /*.navbar-nav>li:hover, .navbar-nav>li:selection {*/
        /*background-color: #808080;*/
    /*}*/

    /*.navbar-nav>li>div>a:hover, .navbar-nav>li>div>a:selection {*/
        /*color: #ffffff;*/
    /*}*/
        z-index: 0;
        top: 60px;
    }

    .container2 p {
        font-size: 21px;
    }

    .DataEaseHeader {
        position: fixed;
        width: 100%;
    }

    .DataEaseLogo {
        width: 77%;
        float: right;
        min-width: 216px;
        max-width: none;
    }

    .FooterDataEazeIcon {
        background-size: 87%;
    }

    .FooterCopyright {
        width: auto;
        font-size: 9px;
    }

    .FooterIauroBlock {
        width: 10%;
    }

    .navbar-toggle {
        float: left;
        z-index: 3;
        margin-left: 8px;
        margin-top: 12px;
    }

    .DataEaseImage {
        background-size: 90%;
        width: 50%;
        max-width: none;
        margin-left: 0;
        background-position: 0;
        min-width: 180px;
        float: left;

        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }

    .HeaderText {
        width: 50%;
        height: 100%;
        float: right;
    }

    /*.container2 {*/
        /*display: none;*/
    /*}*/

    .Block {
        height: auto;
    }


    .BringUpImage {
        background-image: url("");
    }
    
    .BringUpData {
        height: 1050px;
    }

    .CapabilitiesData {
        height: 720px;
    }

    .MaintenanceData {
        height: 790px;
    }

    .InnerContainer3 {
        margin-top: 25px;
    }

    .ImageContainer {
        width: 100%;
        height: 600px;
        margin-left: 0;
        max-width: none;
    }

    .CapabilitiesImageContainer, .MaintenanceImageContainer {
        height: 300px;
    }

    .AddCapabilitiesContainer, .MaintenanceContainer {
        border-top: 1px solid #D4D4D5;
        margin-top: 32px;
    }

    .ImageBlock {
        height: 96%;
        width: 100%;
        margin: 0 auto;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .DataBlock {
        width: 100%;
        height: 420px;
        position: relative;
        display: block;
        /* float: left; */
        margin: 0 auto;
        max-width: none;
    }

    .HeaderBlock {
        height: auto;
        margin-bottom: 20px;
    }

    .BringUpImage {
        background-image: url("../img/png%201%20(1).png");
    }

    .ComponentsBlocks {
        /*min-height: 550px;*/
        height: auto;
    }

    .ServicesBlock, .BenefitsBlock, .ConsultationBlock{
         height: auto;
         width: auto;
        /* min-height: 212px; */
        min-width: 152px;
        float: none;
    }

    .ServicesBlock {
        min-height: 200px;
        max-width: 250px;
        display: inline-block;
        /* float: none; */
        /* text-align: center; */
        margin-bottom: 20px;
    }

    .BenefitsBlock {
        min-height: 250px;
        display: inline-block;
        max-width: 260px;
        margin-bottom: 15px;
    }

    .ConsultationBlock {
        min-height: 280px;
        display: inline-block;
        max-width: 260px;
        margin-bottom: 20px;
    }

    .ServicesContentBlock, .BenefitsContentBlock, .ConsultationContentBlock {
        height: 74%;
        min-height: 500px;
        margin-bottom: 30px;
    }

    .TextContentHeading {
        min-height: 63px;
    }

    .CollectionTextContentHeading, .AnalysisTextContentHeading, .ReportingTextContentHeading, .ProcessingTextContentHeading {
        width: 100%;
        max-width: 147px;
        min-height: 63px;
    }

    .ComponentsContentsHeading {
        margin-bottom: 30px;
    }

    .ClarityTextContentHeading {
        width: 92%;
        max-width: 214px;
    }

    .CapacityTextContentHeading {
        width: 87%;
        max-width: 238px;
    }

    .SaveTimeTextContentHeading {
        max-width: 126px;
    }

    .ArchitectureTextContentHeading {
        max-width: 221px;
    }

    .ServicesBlockImage, .BenefitsBlockImage, .ConsultationBlockImage {
        height: 100px;
    }

    .CollectionTextContent {
        max-width: none;
    }

    .AnalysisTextContent, .ReportingTextContent {
        width: 100%;
        max-width: 252px;
    }

    .OptimisedTextContent {
        max-width: 258px;
    }

    .ReduceTextContent {
        max-width: 300px;
    }

    .ProcessingTextContent {
        max-width: 247px;
        width: 96%;
    }

    .SaveTimeTextContent, .AnalyticsTextContent {
        max-width: 255px;
    }

    .ConsultationContainer {
        min-height: 670px;
        height: auto;
    }

    /*.ComponentsBlocks {*/
        /*display: none;*/
    /*}*/

    .centeredDiv {
         width: 65%;
     }

    .tableParent {
        width: 90%;
    }

    .DataEaseContent p {
        font-size: 45px;
    }

    .howBlock {
        display: block;
        /*height: 100%;*/
        width: 100%;
    }

    .HowContent {
        height: 75%;
        width: 100%;
        display: block;
    }

    .HowHeader {
        height: 17%;
    }

    .HowMenu {
        margin-bottom: 13px;
        width: 100%;
        max-width: 480px;
        height: 25%;
        position: relative;
        min-height: 100px;
        /* margin-bottom: 10px; */
        margin: 0 auto;
        float: none;
        clear: both !important;
        min-width: 288px;
    }

    .ImageFeatures {
        height: 50%;
        width: 25%;
        float: left;
        background-size: 50px;
        background-position: 0 0;
        max-width: 85px;
    }

    .WrapperFeatures {
        /*width: 74%;*/
        /*float: left;*/
        /*height: 100%;*/

        width: 73%;
        float: left;
        height: 100%;
        max-width: 451px;
    }

    .textContent {
        width: 100%;
    }

    .ContentFeatures {
        width: 100%;
        height: auto;
        text-align: left;
        max-width: 450px;
        font-size: 26px;
        line-height: 30px;
        margin-bottom: 5px;
        margin-left: 0;
    }

    .MenuText {
        /* width: 86%; */
        text-align: left;
        max-width: 450px;
        font-size: 18px;
        margin: 0;
    }

    .KnowMoreWrapper {
        width: 90%;
    }

    .KnowMoreContent {
        width: 98%;
        height: auto;
        /* min-height: 105px; */
        max-width: 425px;
        /* max-height: 110px; */
        min-width: 270px;
    }

    .KnowMoreContent p {
        font-size: 19px;
        font-weight: 300;
    }

    .KnowMoreForm {
        min-height: 190px;
    }

    .FormBlock {
        width: 100%;
        min-width: 255px;
    }

    .InfoBlock {
        width: 100%;
        min-height: 50px;
        height: 20%;
        margin-bottom: 3px;
    }

    .InputBlock {
        /*height: 20px;*/
        padding: 0;
        /*margin: 0;*/
        width: 100%;
    }

    .container4 {
        height: 525px;
    }

    .submit {
        min-width: 225px;
    }
}

@media screen and (min-width: 300px) and (max-width: 479px) {
    .mainWindow {
        background-image: url("../img/mobile-bg-5.png");
    }

    .centeredDiv {
        width: 95%;
    }




}

@media screen and  (max-width: 710px) {

    /*.DataEaseMenuItems {*/
        /*display: none;*/
    /*}*/
}


/****************  inbuilt code ******************/

html, body {
    font-family: "Roboto", sans-serif;
    color: #727272;
    font-size: 17px;
    /*max-width: 1280px;*/
    margin: 0 auto;
    display: block;
    clear: both;
}

body {
   overflow-x: hidden;
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

a {
    color: #ffffff;
}

h1 {
 margin-bottom: 5px;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.hidden {
    display: none !important;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}


.stick {
    position:fixed;
    top:0px;
}

.active {
    width: 100%;
    background-color: #565454;
    /*color: #ffffff;*/
}